<!-- registration/templates/registration/user_index.html -->

{% extends "base.html" %}

{% block page_content %}
<h1>Users</h1>
<div class="row">
{% for user in users %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ user.last_name }}, {{ user.first_name }}</h5>
                <p class="card-text">No description on the user</p>
                <a href="{% url 'user_detail' user.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
